{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "rules": {
      "object-curly-spacing": ["warn", "never"],
      "func-names": "off",
      "linebreak-style": "off",
      "space-before-function-paren": ["error", "never"],
      "max-len": ["error", 300, 4],
      "spaced-comment":"off",
      "indent": ["error", 4],
      "comma-dangle": ["error", "never"],
      "import/no-unresolved":"off",
      "import/prefer-default-export":"off",
      "no-unused-vars": ["error", { "args": "none" }]
    }
  }
  